@inject ISidebarService SidebarService
@implements IDisposable
<div class="wrapper @(SidebarService.IsToggled ? "toggled" : "")">
    <aside class="sidebar-wrapper">
        <div class="sidebar-brand">
            <a class="sidebar-toggle"
               @onclick="ToggleSidebar">
                <i class="fa fa-bars"></i>
            </a>
            <h2>@BrandTitle</h2>
        </div>
        <ul class="sidebar-nav">
            @RenderMenuItems(MenuItems)
        </ul>
    </aside>
</div>

<div class="sidebar-modal @(ShowModal ? "active" : "")">
    <div class="modal-header">
        <button class="left-btn" @onclick="@(CloseModal)">
            <i class="fa fa-arrow-left"></i>
        </button>
        <h3>@ModalTitle</h3>
        <button class="close-btn" @onclick="@(() => { CloseModal();
                                                SidebarService.Toggle();
                                            })">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="modal-content">
        @ModalContent
    </div>
</div>
