@inject ISidebarService SidebarService
@inject IModalService ModalService
@implements IDisposable

<div class="wrapper @(SidebarService.IsToggled ? "toggled" : "")">
    <aside class="sidebar-wrapper">
        <div class="sidebar-brand">
            <a class="sidebar-toggle"
               @onclick="ToggleSidebar">
                <i class="fa fa-bars"></i>
            </a>
            <h2>@BrandTitle</h2>
        </div>
        <ul class="sidebar-nav">
            @{
                foreach (var item in MenuItems)
                {
                    <li class="nav-item @(item.SubMenu.Any() ? "has-children" : "")">
                        @{
                            if (item.SubMenu.Any())
                            {
                                <a href="javascript:void(0);"
                                   @onclick="() => OpenModal(item)">
                                    <i class="fa @item.Icon"></i>
                                    <span>@item.Title</span>
                                    <i class="arrow fa fa-chevron-right"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@item.Link"
                                   @onclick="CloseModal">
                                    <i class="fa @item.Icon"></i>
                                    <span>@item.Title</span>
                                </a>
                            }
                        }
                    </li>
                }
            }
        </ul>
    </aside>
</div>

<div class="sidebar-modal @(ModalService.IsModalVisible ? "active" : "") @(SidebarService.IsToggled ? "shrink" : "")">
    <div class="modal-header">
        <button class="left-btn"
                @onclick="CloseModal">
            <i class="fa fa-arrow-left"></i>
        </button>
        <h3>@ModalService.ModalTitle</h3>
        <button class="close-btn"
                @onclick="() => { CloseModal(); SidebarService.Toggle(); }">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="modal-content">
        @(ModalService.ModalContent)
    </div>
</div>
